Final_RAG.json
{
  "name": "Final_RAG",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        40,
        -80
      ],
      "id": "1afc48c3-5bec-4efa-b3e8-3ba7571192ec",
      "name": "When chat message received",
      "webhookId": "469a9aeb-35a5-4dda-b5bd-46be3f29173a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a helpful assistant\n# Overview\nYou are a legal assistant AI specialized expert in Thai law.\nYou will receive a question from the human and you must use your tool called \"Supabase Vector Store\" in order to recieve infomation.\nYour task is to answer questions strictly based on the provided documents. \nYou need to answer it in thai language.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        300,
        -80
      ],
      "id": "ecc867d7-80b7-43d7-9f3c-c28fd4984e2a",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        460,
        160
      ],
      "id": "07556c9e-d186-4f48-bf62-c8879e14c882",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "Sja62CqQZnNK8EpX",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to search the database",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 20,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        680,
        -60
      ],
      "id": "2baea569-a5a5-420a-80bf-22f525c04439",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "Oppa6T4QrszeOPwR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        140
      ],
      "id": "68e95e5a-fc57-44ec-bbf1-7bba4899d4d9",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "XaTkzUzofDnfl1QT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        840,
        140
      ],
      "id": "559df5be-ce53-4876-a6d9-5e665ce8e1fd",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "02GHgfynROgCb2eC",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        180,
        140
      ],
      "id": "95dcc9cd-4901-437f-a63f-b0ed9f080b69",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XaTkzUzofDnfl1QT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a helpful assistant\n# Overview\nYou are a legal assistant AI specialized expert in Thai law.\nYou will receive a question from the human and you must use your tool called \"Supabase Vector Store\" in order to recieve infomation.\nYour task is to answer questions strictly based on the provided documents. \nYou need to answer it in thai language.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        420,
        460
      ],
      "id": "0497e90c-4e3e-4ca7-85f9-313e34ed02e3",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Metadata Agennt').item.json.output }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        520,
        720
      ],
      "id": "db74b02b-0209-44ad-ac00-9c63b7a51a21",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "Sja62CqQZnNK8EpX",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to search the database",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 20,
        "useReranker": true,
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "caseNumber",
                "value": "={{ $('Metadata Agennt').item.json.output }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        800,
        480
      ],
      "id": "c65ada4f-a2b1-455e-95ce-7f9b77913683",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "Oppa6T4QrszeOPwR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        760,
        680
      ],
      "id": "72c6ed84-d428-4d9b-b09f-5568a6a31fb3",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "XaTkzUzofDnfl1QT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        960,
        680
      ],
      "id": "47c3966c-d970-4909-bceb-68020d12aea1",
      "name": "Reranker Cohere1",
      "credentials": {
        "cohereApi": {
          "id": "02GHgfynROgCb2eC",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        300,
        680
      ],
      "id": "a8d55107-7b74-4b4c-8b61-6be9e1087d44",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "XaTkzUzofDnfl1QT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        20,
        460
      ],
      "id": "3d26cf08-c52d-42d0-bf9d-eba661d5970c",
      "name": "Metadata Agennt"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        160
      ],
      "id": "20f26122-8b79-45ed-b0ea-964f4dc9ef0a",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        []
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        []
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere1": {
      "ai_reranker": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Metadata Agennt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Metadata Agennt": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0aca18d7-7113-4908-b37b-8470edc5b2aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "244ba1cfe08b06cf03691cd3c17f52b13bb5abbfc7d8fecc9464e5a3103be712"
  },
  "id": "fq7VvIL5eHsCGZA8",
  "tags": []
}